body {
  background-color: #E1E6E4;
}

#wrapper {
  margin: 24px auto;
  width: auto;
  padding: 24px;
  background-color: #E1E6E4;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 12px;
  /*border: 1px solid red; */
}

header {
  grid-column: span 9;
  text-align: center;
}
header img {
  padding: 10px;
  border-radius: 45px;
  text-align: center;
  padding: 0px;
  width: 100%;

}

main {
  padding: 0px;
  margin: 0px;
  margin-top: 40px;
  grid-column: span 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-size: .75em;
  font-style: normal;
  color: #5A5A5A;
}
main h2 {
  border-bottom: 4px solid #5A5A5A;
  font-family: century-gothic,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #5A5A5A;
}
main img {
  grid-column: span 1;
  padding: 0px;
  margin-left: 1%;
  margin-top: 15%;
}

#text {
  margin-top: 10%;
  grid-column: span 2;
}
#text2 {
  grid-column: span 3;
  grid-row: 3 / 2;
}

#about {
  width: 25%;
}

nav {
  grid-column: span 9;
  position:relative; 
  top: 0.75em;
  margin-left: -20px;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.25rem;
  margin-bottom: .25rem;
  list-style-type: none;
  width: 100%;
  padding: 0px;
}
nav ul li {
  vertical-align: middle;
  line-height: 80px;
  text-align: center;
  font-family: century-gothic,sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  font-style: normal;
  display: inline-block;
  font-weight: bold;
}
nav ul li a {
  background-color: #4B725F;
  color:#273830;
  display: block;
  padding: 5px;
  text-decoration: none;
  transition: background-color 1.0s, width 1.0s, color 1.0s;
  width: 5em;
  margin: -20px;
  height: 80px;
  border-radius: 30px;
}
nav ul li a img {
  width: 100px;
}
nav ul li a:hover {
background-color: #91B4A3;
color: #4C7355
}

@media (min-width: 480px) {
  nav{
    margin-left: 10px;
  }
  nav ul li {
    line-height: 100px;
    font-size: 1.1em;
  }
  nav ul li a {
    width: auto;
    height: 100px;
  }
  main img {
    margin-left: 1%;
    margin-top: 15%;
  }
  #text {
    margin-top: 10%;
  }
  #text2 {
    margin-top: -4%;
  }
}
@media (min-width: 650px) {
  nav ul li {
    line-height: 123px;
    font-size: 1.5em;
  }
  nav ul li a {
    height: 123px;
  }
  #text {
    margin-top: 20%;
  }
  #text2 {
    margin-top: -2%;
  }
}

.circle {
  padding: 20px;
  width: 250px;
  height: 250px;
  border-radius: 500px;
}

#socials {
  font-size: 4em;
  text-align: center;
  grid-column: span 3;
  margin-left: 20%;
  margin-right: 20%;
}
aside a {
  color: #BAD1C6;
}
aside a:hover {
  color: #91B4A3;
  transition: background-color 1.0s, width 1.0s, color 1.0s;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul li {
  vertical-align: middle;
  text-align: right;
  font-family: century-gothic,sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin: 20px;
}
ul li a {
  color:#799A81;
  padding: 20px;
  text-decoration: none;
  transition: background-color 1.0s, width 1.0s, color 1.0s;
  width: auto;
}
ul li a:hover {
  color: #4C7355
}
